::-webkit-scrollbar{
            display: none;
        }
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
            background-color: rgb(47, 152, 243);
        }
        nav{
            width: 95%;
            height: 10%;
            margin: 30px;
            background-color:white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: scroll;
            padding: 10px;
        }
        
        .left{
            padding: 20px;
            height: 100%;
            width: 50px;
            display: flex;
            align-items: center;
        }
        .left>span>img{
            height: 50px;
            width: 50px;
            border-radius: 50px;
        }
        .right{
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 20px;
        }
        .right>div{
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            height: 50px;
            width: 120px;
            padding: 5px;
            margin: 10px;
        }
        .right>div:hover {
            background-color: rgb(85, 169, 247);
        }
       
        .right>div>a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
        }
        .right>div>a:hover{
            color: #fff;
        }
        .marque{
            width: 98%;
            height: 50px;
            font-size: 14px;
            background-color: #fff;
            border-radius: 50px;
            display: flex;
            margin: 10px;
            align-items: center;
            word-spacing: 15px;
        }
        footer{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(88, 89, 90);
            overflow: scroll;
        }
        .main{
            width: 100%;
            height: 70%;
            display: flex;
            background-color: rgba(241, 239, 239);
            align-items: center;
            justify-content: center;
            gap: 30px;
            position: relative;
        }
        .leftc{
            width: 40%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        .leftc>img{
            height: 300px;
            width: 300px;
            border-radius: 50%;

        }
        .leftc>div{
            display: flex;
            flex-direction: column;
            align-items: start;
             gap: 20px;
             overflow: scroll;

        }
        .leftc>div>span,.data>div>span{
            color: rgb(69, 183, 239);
            font-size: 20px;
            font-weight: 800;
            font-family: cursive;
        }
        .leftc>div>h1,.right2>p,.leftc>p{
            text-align: center;
            color: black;
            font-size: 30px;
            font-weight: 900;
            font-family:monospace; 
            word-spacing: 2px;
        }
        .leftc>div>p,.right2>span,.carts>ul>li,.leftc>span{
            font-size: medium;
            font-weight: 800;
            font-style: italic;
        }
        .btns{
            display: flex;
            gap: 20px;
        }
        .btns>button{
            align-items: center;
            height: 40px;
            width: 120px;
            font-size: 12px;
            font-weight: 800;
            border-radius: 50px;
        }
        .btns>button:first-child{
            background-color: rgb(60,180,280);
            color: white;
        }
        .btns>button:last-child{
            background-color: rgba(0,0,0,0.4);
            position: bottom;
            bottom: 10px;
            
        }
        .btns>button>a{
            text-decoration: none;
            color: #fff;
        }
        .container{
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            z-index: 2;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: scroll;
        }
        .container>div{
            width: 70%;
            height: 100px;
            background-color: #fff;
            border:1px solid grey ;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding: 5px;
        }
        .about{
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            position: relative;
            overflow: scroll;
        }
        .left2{
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 50%;
        }
        .right2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            height: 70%;
            padding: 20px;
            border:2px solid rgb(60,180,280);
            border-radius: 20px;
        }
        .data{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;
            align-items: center;
            justify-content: space-evenly;
        }
        .data>div{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: x-small;
        }

        .interests{
            display: flex;
            flex-direction: column;
        }
        .interests div{
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }
        .interests>div>span{
            width: 100%;
            height: 100%;
            padding:  10px;
            text-align: center;
            border: 2px solid rgb(47, 152, 243);
            border-radius: 10px;
        }
        .skills{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background: #efebeb;
            position: relative;
            overflow: scroll;
        }
        .education{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: #efebeb;
            position: relative;
            overflow: scroll;
        }
        .lefter {
        width: 60%;
        display: flex;
        gap: 50px;
        padding: 20px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
        .course{
        width: 60%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        gap: 30px;
        padding: 20px;
        background-color: #efebeb;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
    
    .lefter div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .lefter span {
        font-size: 16px;
        font-weight: 600;
        font-family: cursive;
        color: rgb(60,180,280);
    }
     .course .bars {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .bars>div{
        display: flex;
        justify-content: space-between;
    }
    .course span {
        font-size: 16px;
        font-weight: 600;
        font-family: cursive;
        color: rgb(60,180,280);
    }
    .head{
        color: rgb(47, 152, 243);
        font-weight: 500;
        font-family: monospace;
        padding: 5px;
    }
    .internships{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px 0 0 0;
        background-color: #fff;
        overflow: auto;
    }
    .carts{
        width: 90%;
        height: 155px;
        background-color: #efebeb;
        border:2px solid rgb(47, 152, 243);
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .bold{
        font-weight: 700;
        font-style: bold;
    }
    .card{
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgba(0,0,0,0.4);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }
    .cards{
        width: 60%;
        height: 60px;
        border:2px solid rgb(47, 152, 243);
        border-radius: 10px;
    }
    .cards>input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 10px;
        text-align: start;
        padding-left: 20px;
        color: rgb(47, 152, 243);
        font-weight: 800;
        font-style: cursive;
    }
    .carts>span>img{
        width: 120px;
        height: 120px;
        border: 2px solid black;
    }
    .carts>ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 20px;
    }
    .certificates{
         width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        overflow: auto;
        
    }
    .cart1{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
    }
    
    .cart{
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: start;
        flex-direction: row;
        scroll-behavior: smooth;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        flex-wrap: nowrap;
        position: relative;
    }
    .cart1>a,.carts>div>a{
        text-decoration: none;
    }
    .cart1>span>img{
        width: 200px;
        height:200px;
        border-radius: 10px;
        margin: 10px;
    }

    .links>span>a>img{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        gap: 20px;
        margin: 20px;
    }
    @media  screen and (max-width:1200px) and (min-width:340px){
        .main,.about{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-x:hidden;
            overflow-y: scroll;
            padding: 10px;
        }
        
      ::-webkit-scrollbar{
        display: none;
      }
        .container>div{
            font-size: 10px;
            height: auto;
            width: 100%;
        }
        .interests{
            width: 80%;
            display: flex;
            flex-direction: column;
            overflow-x: auto;
            overflow-y: scroll;
            padding: 15px;
            margin: 10px;
        }
        .lefter{
            width: 60%;
            display: flex;
            flex-direction: column;
            overflow-x: auto;
            overflow-y: scroll;
            padding: 15px;
            margin: 10px;
        }
        .interests div span{
            display: flex;
            justify-content: space-around;
            padding: 10px;
            margin: 5px;
            
        }
        .carts{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-x: auto;
            overflow-y: scroll;
            padding: 15px;
            margin: 10px;
        }
        .leftc,.right2,.interests{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
        }
        .skills,.education,.certificates{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }
      .about>.leftc{
        display: none;
      }
      nav{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
      }  
      .internships{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: 100%;
            padding: 10px;
        }
        .container>div{
            padding: 10px;
            margin: 10px;
        }
    }
    nav{
        position: fixed;
        z-index: 2;
    }